:root {
    --header-color: #FFFFFF;
    --main-color: #E5E5E5;
    --footer-color: #2E2F42;
    --p-color: #434455;
    --acent-color: #4D5AE5;
}
 /*шапка*/
.body{
    font-family: "Roboto", sans-serif;
    color: var(--p-color);
    background-color: var(--header-color);
}

