:root {
    --header-color: #FFFFFF;
    --main-color: #E5E5E5;
    --footer-color: #2E2F42;
    --p-color: #434455;
    --acent-color: #4D5AE5;
}

.body{
    font-family:"Roboto",sans-serif;
    color: var(--p-color);
    background-color: var(--header-color);
}

                         /*===========================Шапка======================*/

  .header{
    background-color: var(--header-color);
  }
  .navigation .link{
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;

  }        
  .web{
    color:var(--acent-color);
 
}    
          



